#Name
{
	height:50px;
	width:700px;
	border-left:0;
	border-right:0;
	border-top:0;
}

#People
{
	height:50px;
	width:700px;
	border-left:0;
	border-right:0;
	border-top:0;
}

#Date
{
	height:50px;
	width:700px;
	border-left:0;
	border-right:0;
	border-top:0;
}

#Text
{
	height:50px;
	width:700px;
	border-left:0;
	border-right:0;
	border-top:0;
}

#Button
{
	height:30px;
	width:120px;
}